.imgBox {
    display: flex;
    border: 1px solid black;
    align-items: center;
    opacity: 1;
    justify-content: center;
    overflow: hidden;
    height: 30vw;
    width: 25vw;
    & > img {
      width: 100%; 
      height: auto; 
      object-fit: cover;
      text-indent: -10000px;
    }
  }

  .mainContainer {
      display: grid;
      justify-content: center;
      border: 1px solid blue;
      width: 25vw;
      height: 50vw;
      & > p {
          text-align: center;
          font-size: 2vw;
      }
  }